<!-- Header Section -->
<header
  class="w-full bg-gray-900 text-white py-5 fixed top-0 left-0 right-0 z-50"
  [class.bg-gray-900]="!isDarkMode"
  [class.bg-gray-100]="isDarkMode"
>
  <div class="container mx-auto flex justify-between items-center px-4">
    <div class="flex items-center cursor-pointer" (click)="scrollToSection($event, 'main')">
      <img src="/logo.png" width="43" height="43" class="mr-4 mb-2" />
      <h1
        class="text-4xl font-bold bg-gradient-to-r from-blue-500 to-purple-500 text-transparent bg-clip-text"
      >
        Mohsin Ayaz
      </h1>
    </div>

    <!-- Hamburger Menu for Mobile -->
    <div class="lg:hidden flex items-center">
      <button (click)="toggleMenu()" class="text-white text-2xl">
        <i class="fas fa-bars"></i>
        <!-- Hamburger Icon -->
      </button>
    </div>

    <!-- Desktop Navigation -->
    <nav class="hidden lg:flex">
      <ul class="flex space-x-6">
        <li>
          <a
          class="bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text"
          href="#main"
          (click)="scrollToSection($event, 'main')"
            >Home</a
          >
        </li>
        <li>
          <a
           class="bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text"
            href="#about"
            (click)="scrollToSection($event, 'about')"
            >About</a
          >
        </li>
        <li>
          <a
           class="bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text"
            href="#projects"
            (click)="scrollToSection($event, 'projects')"
            >Projects</a
          >
        </li>
        <li>
          <a
           class="bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text"
            href="#skills"
            (click)="scrollToSection($event, 'skills')"
            >Skills</a
          >
        </li>
        <li>
          <a
           class="bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text"
            href="#experience"
            (click)="scrollToSection($event, 'experience')"
            >Experience</a
          >
        </li>
        <li>
          <a
           class="bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text"
            href="#open-source"
            (click)="scrollToSection($event, 'open-source')"
            >Open Source</a
          >
        </li>
        <li>
          <a
           class="bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text"
            href="#contact"
            (click)="scrollToSection($event, 'contact')"
            >Contact</a
          >
        </li>
      </ul>
    </nav>

    <!-- Mobile Navigation (hidden by default) -->
    <nav
      *ngIf="isMenuOpen"
      class="lg:hidden absolute top-9 left-0 right-0 bg-gray-900 text-white p-4 mt-12 z-50"
    >
      <ul class="flex flex-col items-center space-y-4">
        <li><a href="#main" class="hover:text-indigo-500" (click)="scrollToSection($event, 'main', true)">Home</a></li>
        <li><a href="#about" class="hover:text-indigo-500" (click)="scrollToSection($event, 'about', true)">About</a></li>
        <li><a href="#projects" class="hover:text-indigo-500" (click)="scrollToSection($event, 'projects', true)">Projects</a></li>
        <li><a href="#skills" class="hover:text-indigo-500" (click)="scrollToSection($event, 'skills', true)">Skills</a></li>
        <li>
          <a href="#experience" class="hover:text-indigo-500" (click)="scrollToSection($event, 'experience', true)">Experience</a>
        </li>
        <li>
          <a href="#open-source" class="hover:text-indigo-500" (click)="scrollToSection($event, 'open-source', true)">Open Source</a>
        </li>
        <li><a href="#contact" class="hover:text-indigo-500" (click)="scrollToSection($event, 'contact', true)">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Hero Section -->
<section
  id="main"
  class="max-md:h-full max-md:px-2 h-screen w-full bg-gradient-to-r from-blue-500 to-purple-500 text-white flex flex-col items-center justify-center"
>
  <div
    class="flex flex-col sm:flex-row items-center justify-center max-md:mt-32"
  >
    <div class="w-full sm:w-1/2 text-center">
      <h1 class="text-4xl sm:text-6xl font-extrabold" data-aos="fade-up">
        <b class="text-black">S</b>enior <b class="text-black">S</b>oftware
        <b class="text-black">E</b>ngineer
      </h1>
      <p class="mt-6 text-xl sm:text-2xl">
        Hi, I'm Mohsin Ayaz. A passionate Senior Front-end Developer based in
        Karachi, Pakistan.
      </p>
    </div>
    <div class="ml-4 mt-6 sm:mt-0 text-center w-[300px] h-[300px]">
      <img
        src="/picture2.png"
        alt="my picture"
        class="floating-image mt-6 bg-white rounded-full h-full w-full"
      />
    </div>
  </div>
  <div
    class="flex max-md:items-start w-full items-center justify-center max-md:m-0 mt-6 text-xl sm:text-3xl max-md:px-2 max-md:py-6"
  >
    <span class="max-md:w-[35%] max-md:mt-2 max-md:text-xl text-2xl"
      >Tech Stack |</span
    >
    <div
      class="flex flex-wrap justify-center max-md:gap-2 gap-4 sm:gap-6 max-md:m-0 mt-4 ml-4 sm:mt-0 max-md:w-[65%]"
    >
      <img src="/html.png" title="HTML" class="cursor-pointer" />
      <img src="/css.png" title="CSS" class="cursor-pointer" />
      <img src="/js.png" title="JavaScript" class="cursor-pointer" />
      <img src="/angular.png" title="Angular" class="cursor-pointer" />
      <img src="/bootstrap.png" title="Bootstrap" class="cursor-pointer" />
      <img src="/material-ui.png" title="Material-UI" class="cursor-pointer" />
      <img src="/ts.png" title="TypeScript" class="cursor-pointer" />
    </div>
  </div>
  <div class="h-[180px] flex items-center">
    <button
      class="bg-gradient-to-r from-blue-500 to-purple-500 text-white font-bold py-2 px-4 border border-solid"
      (click)="downloadResume()"
    >
      Download Resume
    </button>
  </div>
</section>

<!-- About Section -->
<section
  id="about"
  class="p-10 text-black"
>
  <div
    class="container mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 items-center"  data-aos="fade-right"
  >
    <!-- Profile Image -->
    <div class="flex justify-end" data-aos="fade-right">
      <div
        class="rounded-lg"
      >
        <img
          src="/laptop.jpeg"
          alt="Profile Picture"
          class="rounded-3xl floating-image"
          width="700"
          height="700"
        />
      </div>
    </div>
    <!-- About Content -->
    <div class="flex flex-col items-center"  data-aos="fade-left" data-aos-delay="200">
      <h2 class="text-5xl font-extrabold mb-4">
        About Me
      </h2>
      <div>
          <p
            class="text-lg mb-6"        
          >
            I am a passionate Frontend Developer with expertise in crafting modern,
            dynamic, and responsive web applications. With a strong foundation in
            Angular, React, and Vue.js, I specialize in building user-friendly
            interfaces that deliver exceptional user experiences.
          </p>
          <p
            class="text-lg mb-6"
          >
            My toolkit includes TypeScript, JavaScript, Tailwind CSS, and other
            cutting-edge technologies, enabling me to bring designs to life with
            precision and style. I take pride in creating clean, efficient, and
            maintainable code.
          </p>
      </div>
    </div>
  </div>
</section>

<!-- Projects Section -->
<section id="projects" class="p-10 bg-gray-900 text-white">
  <h2 class="text-4xl font-bold text-center mb-6" data-aos="fade-right">
    My Projects
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    <div class="p-6 bg-indigo-700 rounded-lg shadow-lg flex flex-col" data-aos="zoom-in">
      <img src="/Icplan.png" width="500" height="500" />
      <div class="mt-4">
        <h2 class="text-2xl font-semibold">ICPlan</h2>
        <p class="mt-2 text-sm">
          ● Facilitated communication planning for teams through streamlined
          activity plotting and real-time updates.
        </p>
        <p class="mt-2 text-sm">
          ● Designed templates, protected file storage, and robust communication
          features for enhanced collaboration
        </p>
      </div>
      <div class="flex flex-1 items-end justify-center mt-6">
        <a href="https://www.icplan.com/" target="_blank" class="flex cursor-pointer bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text">
          <p class="mr-2 text-lg font-bold  ">Live Demo</p>
          <img src="/live-demo.png" class="invert" width="24" height="24" />
        </a>
      </div>
    </div>
    <div
      class="p-6 bg-blue-700 rounded-lg shadow-lg flex flex-col"
      data-aos="zoom-in"
      data-aos-delay="200"
    >
      <img src="/vueQ&A.png" width="500" height="500" />
      <div class="mt-4">
        <h2 class="text-2xl font-semibold">Vue Q&A App</h2>
        <p class="mt-2 text-sm">
          ● Developed a Vue 3 application integrated with Firebase, featuring dynamic five-question
          navigation leading to category and product pages.       
        </p>
        <p class="mt-2 text-sm">
          ● Implemented real-time data fetching for an engaging user experience.
        </p>
      </div>
      <div class="flex flex-1 justify-center items-end mt-6">
        <a href="https://vue-app-questions-and-answers.web.app/" target="_blank" class="flex cursor-pointer bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text">
          <p class="mr-2 text-lg font-bold">Live Demo</p>
          <img src="/live-demo.png" class="invert" width="24" height="24" />
        </a>
      </div>
    </div>
    <div
      class="p-6 bg-purple-700 rounded-lg shadow-lg flex flex-col"
      data-aos="zoom-in"
      data-aos-delay="400"
    >
      <img src="/prime-event.png" width="500" height="500" />
      <div class="mt-4">
        <h2 class="text-2xl font-semibold">Prime Event Personnel</h2>
        <p class="mt-2 text-sm">
          ● Built a web platform for event industries to manage job postings and applications.
        </p>
        <p class="mt-2 text-sm">
          ● Designed features for businesses to post jobs, track proposals, and for workers to apply and
          monitor status.
        </p>
        <p class="mt-2 text-sm">
          ● Utilized React, Tailwind CSS, Formik, Yup, and Firebase for robust data management and user
          authentication.       
        </p>
      </div>
      <div class="flex flex-1 justify-center items-end mt-6">
        <a href="https://prime-event-personnel.web.app/" target="_blank" class="flex cursor-pointer bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text">
          <p class="mr-2 text-lg font-bold">Live Demo</p>
          <img src="/live-demo.png" class="invert" width="24" height="24" />
        </a>
      </div>
    </div>
    <div
      class="p-6 bg-indigo-700 rounded-lg shadow-lg flex flex-col"
      data-aos="zoom-in"
    >
      <img src="/create-notes.png" width="500" height="500" />
      <div class="mt-4">
        <h2 class="text-2xl font-semibold">Create Notes</h2>
        <p class="mt-2 text-sm">
          ● Developed a React-based sticky notes web application enabling users to create, edit, and delete notes with an intuitive interface.      
        </p>
        <p class="mt-2 text-sm">
          ● Implemented dynamic state management for real-time updates and seamless user interactions.
        </p>
        <p class="mt-2 text-sm">
          ● Enhanced user experience by integrating features like persistent data storage and responsive design.
        </p>
      </div>
      <div class="flex flex-1 justify-center items-end mt-6">
        <a href="https://mohsinayaz.github.io/create-notes" target="_blank" class="flex cursor-pointer bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text">
          <p class="mr-2 text-lg font-bold">Live Demo</p>
          <img src="/live-demo.png" class="invert" width="24" height="24" />
        </a>
      </div>
    </div>
    <div
      class="p-6 bg-blue-700 rounded-lg shadow-lg flex flex-col"
      data-aos="zoom-in"
      data-aos-delay="200"
    >
      <img src="/groves.png" width="500" height="500" />
      <div class="mt-4">
        <h2 class="text-2xl font-semibold">Groves Restaurant</h2>
        <p class="mt-2 text-sm">
          ● Developed a full-stack restaurant management app with Angular 19 and Tailwind CSS, ensuring full mobile responsiveness for a seamless experience on all devices.      
        </p>
        <p class="mt-2 text-sm">
          ● Features include menu management, order tracking, and customer feedback system.
        </p>
      </div>
      <div class="flex flex-1 justify-center items-end mt-6">
        <a href="https://groves-restaurant.netlify.app/" target="_blank" class="flex cursor-pointer bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text">
          <p class="mr-2 text-lg font-bold">Live Demo</p>
          <img src="/live-demo.png" class="invert" width="24" height="24" />
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Skills Section -->
<section id="skills" class="p-10 bg-gray-50 text-gray-800">
  <h2 class="text-4xl font-bold text-center mb-8" data-aos="fade-down">
    Skills
  </h2>
  <p class="text-xl text-center mb-8" data-aos="fade-down">
    Here are the technologies and tools I specialize in:
  </p>
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6 text-center">
    <!-- Skill 1 -->
    <div
      class="bg-white p-6 rounded-lg shadow-lg transform hover:scale-105 transition-all"
    >
      <img src="/angular.png" alt="Angular" class="mx-auto h-16 w-16 mb-4" />
      <p class="font-semibold text-lg">Angular</p>
    </div>
    <!-- Skill 2 -->
    <div
      class="bg-white p-6 rounded-lg shadow-lg transform hover:scale-105 transition-all"
    >
      <img src="/react.png" alt="React" class="mx-auto h-16 w-16 mb-4" />
      <p class="font-semibold text-lg">React</p>
    </div>
    <!-- Skill 3 -->
    <div
      class="bg-white p-6 rounded-lg shadow-lg transform hover:scale-105 transition-all"
    >
      <img src="/vue.png" alt="Vue.js" class="mx-auto h-16 w-16 mb-4" />
      <p class="font-semibold text-lg">Vue.js</p>
    </div>
    <!-- Skill 4 -->
    <div
      class="bg-white p-6 rounded-lg shadow-lg transform hover:scale-105 transition-all"
    >
      <img
        src="/tailwind.png"
        alt="Tailwind CSS"
        class="mx-auto h-16 w-16 mb-4"
      />
      <p class="font-semibold text-lg">Tailwind</p>
    </div>
    <!-- Skill 5 -->
    <div
      class="bg-white p-6 rounded-lg shadow-lg transform hover:scale-105 transition-all"
    >
      <img src="/ts.png" alt="TypeScript" class="mx-auto h-16 w-16 mb-4" />
      <p class="font-semibold text-lg">TypeScript</p>
    </div>
    <!-- Skill 6 -->
    <div
      class="bg-white p-6 rounded-lg shadow-lg transform hover:scale-105 transition-all"
    >
      <img src="/js.png" alt="JavaScript" class="mx-auto h-16 w-16 mb-4" />
      <p class="font-semibold text-lg">JavaScript</p>
    </div>
    <!-- Skill 7 -->
    <div
      class="bg-white p-6 rounded-lg shadow-lg transform hover:scale-105 transition-all"
    >
      <img src="/html.png" alt="HTML" class="mx-auto h-16 w-16 mb-4" />
      <p class="font-semibold text-lg">HTML</p>
    </div>
    <!-- Skill 8 -->
    <div
      class="bg-white p-6 rounded-lg shadow-lg transform hover:scale-105 transition-all"
    >
      <img src="/css.png" alt="CSS" class="mx-auto h-16 w-16 mb-4" />
      <p class="font-semibold text-lg">CSS</p>
    </div>
  </div>
</section>

<!-- Experience Section -->
<section id="experience" class="p-10 bg-gray-900 text-white">
  <h2 class="text-4xl font-bold text-center mb-6" data-aos="fade-right">
    Professional Experience
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Experience 1 -->
    <div class="p-6 bg-gray-800 rounded-lg shadow-lg" data-aos="fade-right">
      <h3 class="text-2xl font-semibold">Software Engineer - Angular</h3>
      <p class="mt-2 text-sm text-gray-400">Cluster Valley | Nov 2021 - Nov-2024</p>
      <ul class="list-disc mt-4 pl-5 space-y-2 text-sm">
        <li>Led a team of two junior Angular developers, providing mentorship and ensuring project milestones were met.</li>
        <li>Designed and developed scalable frontend applications using Angular, ensuring responsive and user-friendly interfaces.</li>
        <li>Collaborated with cross-functional teams to deliver projects on time and within scope.</li>
        <li>Implemented coding best practices, conducted code reviews, and optimized application performance.</li>
        <li>Participated in Agile ceremonies, including sprint planning and daily stand-ups.</li>
        <li>Integrated frontend applications with RESTful APIs and backend services.</li>
      </ul>
    </div>

    <!-- Experience 2 -->
    <div class="p-6 bg-gray-800 rounded-lg shadow-lg" data-aos="fade-right" data-aos-delay="200">
      <h3 class="text-2xl font-semibold">Associate Software Engineer</h3>
      <p class="mt-2 text-sm text-gray-400">Iomechs | 2019 - 2021</p>
      <ul class="list-disc mt-4 pl-5 space-y-2 text-sm">
        <li>Developed frontend components and features for large-scale applications using Angular.</li>
        <li>Collaborated with UX/UI designers and backend developers to deliver integrated solutions.</li>
        <li>Implemented responsive design principles to ensure mobile-friendly and accessible applications.</li>
        <li>Resolved technical issues and optimized performance through debugging and efficient coding practices.</li>
        <li>Worked with React.js on certain projects, showcasing flexibility in frontend technologies.</li>
      </ul>
    </div>
  </div>
  <div class="mt-8"  data-aos="fade-right">
    <h3 class="text-2xl font-bold text-center text-white">Open Source Contributions</h3>
    <div class="mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="p-4 bg-white rounded-lg shadow-lg">
        <a href="https://shehrozkhannn.github.io/ng-chatlist/" target="_blank">
          <p class="flex text-lg font-semibold cursor-pointer text-gray-800 bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text">Ng Chat List</p>
        </a>
        <p class="mt-2 text-sm text-gray-800">Contributed to a chat-based Angular application.</p>
      </div>

      <div class="p-4 bg-white rounded-lg shadow-lg">
        <a href="https://ahsanayaz.github.io/ngx-device-detector/" target="_blank">
          <p class="flex text-lg font-semibold cursor-pointer text-gray-800 bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text">ngx-device-detector</p>
        </a>
        <p class="mt-2 text-sm text-gray-800">Contributed to an Angular library recognized by Google Developer Experts.</p>
      </div>

      <div class="p-4 bg-white rounded-lg shadow-lg">
        <a href="https://iomechs.github.io/angular-year-calendar/demo/" target="_blank">
          <p class="flex text-lg font-semibold cursor-pointer text-gray-800 bg-gradient-to-r from-blue-500 to-purple-500 hover:text-transparent bg-clip-text">Angular Year Calendar</p>
        </a>
        <p class="mt-2 text-sm text-gray-800">Contributed to an Angular Year Calendar library depends on "date-fns" and "angular/cdk"</p>
      </div>
    </div>
  </div>
</section>

<!-- Additional Experiences -->


<!-- Contact Section -->
<section id="contact" class="p-10 bg-gray-900 text-white">
  <h2 class="text-4xl font-bold text-center mb-6" data-aos="fade-up">
    Contact
  </h2>
  <div class="text-center text-lg">
    <p>
      If you'd like to get in touch, feel free to reach out via email or connect
      with me on LinkedIn.
    </p>
  </div>
</section>

<!-- Footer Section -->
<footer class="bg-gray-900 text-white py-6">
  <div class="container mx-auto text-center">
    <p>&copy; 2025 Mohsin Ayaz. All Rights Reserved.</p>
    <div class="mt-4">
      <a
        href="https://github.com/mohsinayaz"
        target="_blank"
        class="text-indigo-400 hover:text-indigo-500 mx-2"
        >GitHub</a
      >
      <a
        href="https://www.linkedin.com/in/mohsinayaz/"
        target="_blank"
        class="text-indigo-400 hover:text-indigo-500 mx-2"
        >LinkedIn</a
      >
      <a
        href="mailto:mohxn.ayaaz@gmail.com"
        class="text-indigo-400 hover:text-indigo-500 mx-2"
        >Email</a
      >
    </div>
  </div>
</footer>

<!-- Move to Top Button -->
<button
  *ngIf="showScrollButton"
  (click)="scrollToTop()"
  class="fixed  bottom-5 right-5 bg-indigo-500 text-2xl text-white w-[40px] h-[40px] rounded-full shadow-lg hover:bg-indigo-600 transition-all"
>
  ↑
</button>
